<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Store Name</th>
        <th>Address</th>
    </tr>
    </thead>
    <tr th:each="store : ${stores}">
        <td th:text="${store.id}"></td>
        <td th:text="${store.name}"></td>
        <td th:text="${store.address}"></td>
    </tr>
</table>


</body>
</html>