<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Purchase Date
            <input type="text" th:field="${date}" class="form-control" />
            <p class="error" th:errors="${date}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Purchase Time
            <input type="text" th:field="${time}" class="form-control" />
            <p class="error" th:errors="${time}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Store
            <select th:field="${store.id}">
                <option th:each="store : ${stores}"
                        th:value="${store.id}"
                        th:text="${store.name}"></option>
            </select>
            <p class="error" th:errors="${seed.light}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Expiration Date
            <input type="date" name="expDate" th:value="${milk.expDate}" /> </label>
    </div>
    <div class="form-group">
        <label>Were there a lot more cartons left?
            <input type="checkbox" name="remainder" th:checked="${milk.remainder}" /> </label>
    </div>
    <div class="form-group">
        <label>Was your purchase the last milk with that expiration date?
            <input type="checkbox" name="lastOne" th:checked="${milk.lastOne}" /> </label>
    </div>
    <div class="form-group">
        <label>Size
            <select th:field="${milk.size}">
                <option th:each="size : ${sizes}"
                        th:value="${size.id}"
                        th:text="${size.name}"></option>
            </select>
            <p class="error" th:errors="${milk.size}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Brand
            <select th:field="${milk.brand}">
                <option th:each="brand : ${brands}"
                        th:value="${brand.id}"
                        th:text="${brand.name}"></option>
            </select>
            <p class="error" th:errors="${milk.brand}"></p>
        </label>
    </div>
    <div class="form-group">
        <label>Fat Content
            <select th:field="${milk.fatContent}">
                <option th:each="fatContent : ${fatContents}"
                        th:value="${fatContent.id}"
                        th:text="${fatContent.name}"></option>
            </select>
            <p class="error" th:errors="${milk.fatContent}"></p>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Update Milk Info" class="btn btn-success">
    </div>
</form>

</body>
</html>